@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&family=Libre+Baskerville:italic,wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-serif: "Libre Baskerville", serif;
}

body {
  @apply bg-[#050505] text-white overflow-hidden;
}

canvas {
  @apply block;
}

input[type="range"] {
  @apply appearance-none bg-zinc-800 h-1 rounded-lg;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none w-3 h-3 bg-orange-500 rounded-full cursor-pointer;
}
